.loader {
    width: 8rem;
    height: 8rem;
    border: 0.4rem dotted #fff;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.6);
    /* Glow effect */
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0.4rem dotted var(--loader-color, #FF3D00);
    /* ברירת מחדל */
    border-style: solid solid dotted;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
    box-shadow: 0 0 12px 4px var(--loader-color, rgba(255, 61, 0, 0.5));
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}